@media (min-width: 276px) {
  #fresh {
    width: 100%;
    .wrapper {
      transform: none !important;
    }
  }
  #about {
    .wrapper {
      width: 100% !important;
    }
  }
}
@media (min-width: 476px) {
  #fresh {
    width: 100%;
    .wrapper {
      transform: none !important;
    }
  }
  #about {
    .wrapper {
      width: 100% !important;
      transform: none !important;
    }
  }
  #open {
    .wrapper {
      width: 100% !important;
    }
  }
  #product {
    .text-holder {
      width: 100% !important;
    }
  }
}
@media (min-width: 768px) {
  #fresh {
    width: 100%;
    .wrapper {
      transform: none !important;
    }
  }
  #about {
    .wrapper {
      width: 75% !important;
      transform: none !important;
    }
  }
  #open {
    .wrapper {
      width: 100% !important;
    }
  }
  #product {
    .text-holder {
      width: 50% !important;
    }
  }
}
@media (min-width: 992px) {
  #about {
    .wrapper {
      width: 75% !important;
      transform: translateY(-50px) !important;
    }
  }
  #open {
    .wrapper {
      width: 50% !important;
    }
  }
  #fresh {
    .wrapper {
      transform: translate(100px, 90px) !important;
    }
  }
}
@media (min-width: 1200px) {
  #about {
    .wrapper {
      width: 75% !important;
      transform: translateY(-50px) !important;
    }
  }
  #fresh {
    .wrapper {
      transform: translate(100px, 90px) !important;
    }
  }
}
@media (min-width: 1400px) {
}